@media (max-width: 900px){
    #page-home {
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 48px;
        font-size: 17px;
        left: 50%;
        transform: translateX(-50%);
    }
   
    #page-home main{
        align-items: center;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }
    #page-search-results .cards img{
        height: 250px;
    }

}

@media (min-width: 1700px){
    #page-home {
        background-position-x: 40vw;
    }
}
@media (max-height: 700px){
    #page-home {
        background-position-y: 140px;
    }
}
@media (min-height: 1100px){
    #page-home {
        background-position-y: 74%;
    }
}

@media (max-width: 800px){
    #page-create-point form .field-group{
        flex-direction: column;      
    
    }
    form .field-group .field + .field{
        margin-left: 0px;
    }
    #page-create-point form button{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto 0;

    }

    #page-create-point form .itens-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px){
    #page-create-point form {
        padding: 26px;
    }
    #page-create-point form button{
        width: 100%;
    }
    form legend {
        flex-direction: column;
        margin-bottom: 20px;
    }
    form legend span {
        margin-top: 20px;
    }
     #page-home main h1 {
        font-size: 34px;
    }
}